#add-table-modal {
    display: flex;
    justify-content: center;
}

/* Overriding default box max width */
.box {
    max-width: 500px;
}

hr {
    margin: 20px 0 10px 0;
    opacity: 0.2;
}

h3 {
    text-align: center;
}

.modal-content {
    width: 500px;
    margin-bottom: 20px;
}

.modal-content>span {
    padding: 20px;
}

#add-table-input>div {
    margin: 20px;
}

.modal-body div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.modal-btns #submit {
    float: right;
}


/* Input fields */
.label-before,
.field input:valid+label::before,
.field input:focus+label::before,
.field textarea:valid+label::before,
.field textarea:focus+label::before {
    line-height: 20px;
    font-size: 12px;
    top: -10px;
    background: #fff;
    padding: 0 6px;
    left: 9px;
}

.field {
    position: relative;
    margin-bottom: 15px;
}

.field label::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 40px;
    font-size: 14px;
    color: #777;
    transition: 300ms all;
}

.field input,
.field textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.field input:focus,
.field textarea:focus,
.send-message textarea:focus {
    outline: 0;
    border-color: #697a84;
}

.field input:focus+label::before,
.field textarea:focus+label::before {
    color: #697a84;
}