<nav class="main-nav">
  <a class="nav-ham" (click)="toggleSidebar.emit()">
    <i class="material-icons">menu</i></a
  >
  <div class="main-nav-right">
    <form class="nav-search">
      <input type="text" placeholder="Search..." class="search-input" />
      <button type="submit" class="search-button">
        <i class="material-icons">search</i>
      </button>
    </form>
    <div>
      <img
        class="round-image"
        src="http://placeimg.com/50/50/people"
        alt="Placeholder image"
      />
    </div>
  </div>
</nav>
