<div class="box">
    <header class="dashboard-header">
        <div>Dashboard:&nbsp;<b>{{ widgetInfo.title }}</b></div>
        <div>
            <button class="edit-btn"><a [routerLink]="['/widget-table-update', widgetInfo.id]"><i class="material-icons"
                        title="Edit">create</i></a></button>
            <button class="delete-btn" (click)="deleteConfirm(widgetInfo.id)"><i class="material-icons"
                    title="Delete">delete</i></button>
        </div>
    </header>
    <table class="user-tables" [ngClass]="'user-tables-' + widgetInfo.color">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of widgetInfo.data">
                <td>{{ user.id }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.username }}</td>
            </tr>
        </tbody>
    </table>
</div>