<aside id="sidebar" class="sidebar">
  <div class="sidebar-logo">
    <a href="">
      <img src="../assets/logo-inverse.png" alt="" class="logo" />
    </a>
    <a class="sidebar-close" (click)="toggleSidebar.emit()">
      <i class="material-icons" title="Close">clear</i>
    </a>
  </div>
  <nav class="sidebar-links">
    <ul>
      <li><p>Links are empty except of Dashboard</p></li>
      <li>
        <hr />
      </li>
      <li>
        <a routerLink="/"
          ><i class="material-icons" title="Dashboard">dashboard</i>Dashboard</a
        >
      </li>
      <li>
        <a routerLink="#"
          ><i class="material-icons" title="Profile">account_box</i>Profile</a
        >
      </li>
      <li>
        <a routerLink="/messaging"
          ><i class="material-icons" title="Messaging">message</i>Messaging</a
        >
      </li>
      <li>
        <a routerLink="#"
          ><i class="material-icons" title="Mail">mail</i>Mail</a
        >
      </li>
      <li>
        <a routerLink="#"
          ><i class="material-icons" title="Calendar">calendar_today</i
          >Calendar</a
        >
      </li>
      <li>
        <a routerLink="#"
          ><i class="material-icons" title="Gallery">collections</i>Gallery</a
        >
      </li>
    </ul>
  </nav>
</aside>
