/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

body {
  color: rgba(0, 0, 0, 0.87);
  background-color: #eceff4;
}

a {
  text-decoration: none;
}

b,
strong,
table th {
  font-weight: 500;
}

h3 {
  font-weight: 400;
}

.button-red {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #fa2a37;
}

.hidden {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.wrapper {
  height: 100%;
}

/* Avatar */
.round-image {
  height: 50px;
  max-height: 40px;
  max-width: 40px;
  border-radius: 50%;
}

/* Buttons */
.add-button-dark,
.add-button-light {
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button-dark {
  display: inline;
  margin-right: 10px;
  &:hover {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
  }
}

.add-button-dark p {
  font-size: 13px;
  color: #fff;
  padding: 9px;
  font-weight: 700;
  text-transform: uppercase;
}
